.banner {
    --gap: 1rem;
    width: 100vw;
    position: relative;
    display: flex;
    overflow: hidden;
    padding-left: 0.6rem;
    user-select: none;
    gap: var(--gap);
  }
  
  .bannerContent {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: roll 10s linear infinite;
  }
  
  @keyframes roll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  